# Irrelevant folders
archive

# Python
__pycache__
.ipynb_checkpoints
.python-version
mobile-net-food-101

# # Datasets
# data/food-101
# data/demo

# Created files/folders
mobilenet_v3_model_weights.pth
results
checkpoint
.vscode
data
.env
# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android
db.sql
